/*=============  common css  ================*/

@mixin anchor_tag($color: #000,$font-size:1.6rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    padding: $padding;
    font-weight: $font-weight;
    margin: 0;
    text-decoration: none;
}
@mixin paragraph_tag($color: #000,$font-size:1.6rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin heading_tag1($color: #000,$font-size:3.6rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin heading_tag2($color: #000,$font-size:3rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin heading_tag3($color: #000,$font-size:2.4rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin heading_tag4($color: #000,$font-size:1.8rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin heading_tag5($color: #000,$font-size:1.4rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin heading_tag6($color: #000,$font-size:1.2rem,$padding:.5rem 0rem ,$font-weight:400){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    margin: 0;
}
@mixin button1($border:none,$background:transparent,$border-redius:.5rem,$padding:.7rem,$color:#000){
    border: $border;
    background-color:$background ;
    border-radius: $border-redius;
    padding: $padding;
    color: $color;
}


/*=============  common css  ================*/